.books-img{ 
    height: 20vw; 
    width: 80vw;
} 
 
.books-content{ 
    padding: 30px;
} 
 
.heading{ 
    font-size: 40px;
} 
 
.line{ 
    margin-top: 0;
} 
.books-heading{ 
    font-size: 30px;  
    padding: 0;
    border: 1px solid goldenrod; 
    border-top: 0; 
    border-right: 0; 
    border-left: 0; 
    margin-bottom: 30px; 
}